@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: "Source Code Pro", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Days One", sans-serif;
}


/* only when theme toggles */
html.theme-transition *,
html.theme-transition {
  transition:
    background-color 0.6s ease,
    color 0.6s ease,
    border-color 0.6s ease;
}


@keyframes marquee-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes marquee-right {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}

.animate-marquee-left {
  animation: marquee-left 25s linear infinite;
}

.animate-marquee-right {
  animation: marquee-right 30s linear infinite;
}

/* 👇 IMPORTANT FIX */
.pause-on-hover:hover {
  animation-play-state: paused;
}